body{
    background-color:rgb(235, 231, 231);
    margin-left: 300px;
   
}
h2{
    
    color:red;
    margin-left:300px; 
   
}
#link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style:italic; 
}
h1{
    text-align: center;
    padding-bottom: 40px;
}
#description{
    font-family: cursive;
    font-size: 30px;
}
.jumbotron{
    background-image:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/UhGJuGw/extra-newspaper-headline-reveal-and-loop-4k-hd-animation_vkbhtmcnl__F0004.png);
    color:red;
}