


{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
<!-- Content block -->
{% block content %}
<div class="container">
    {% for article in articles %}
    <!-- Poster background -->
        
        <h3>{{ article.title }}</h3>
        <img src='{{article.urlToImage}} ' alt="image loading"  height="200">
        <p class="description"> {{ article.description }}</p>
        <p class="publishedAt">Published on:{{ article.publishedAt}}</p>
        <a id="link" href="{{article.url}}" target="_blank">Read more</a>


    {%endfor%}
</div>

{% endblock %}